.media {
    display: flex;
    * {
        word-break: break-all;
    }
    .round {
        padding: 10px;
        margin-right: 20px;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            color: var(--color-secondary);
            background-color: var(--border-secondary);
            border-radius: 50%;
        }
        @media (max-width: 767px) {
            padding: 10px 0;
            margin-right: 5px;
        }
    }
    >div:last-child {
        flex: 1;
    }
    .topic {
        >div {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            span {
                margin-right: 5px;
                padding: 5px 7px;
                background-color: var(--border-secondary);
                border-radius: 5px;
            }
            code {
                flex: 1;
            }
        }
    }
    .data {
        padding: 20px;
        background-color: var(--border-secondary);
        border-radius: 5px;
    }
}