.mymenu {
	position: relative;
	.hamburger {
		position: absolute;
		top: 20px;
		right: 15px;
		display: none;
		background-color: transparent;
		width: 28px;
		height: 24px;
		padding: 0;
		border-radius: unset;
		cursor: pointer;

		span,
		&:after,
		&:before {
			display: inline-block;
			position: absolute;
			right: 0px;
			width: 100%;
			height: 2px;
			background-color: var(--color-secondary);
			transform: translateY(50%);
			border-radius: 2px;
			content: '';
			transition: all .3s ease-in-out;
		}

		span {
			top: 0px;
		}

		&:before {
			top: 11px;
		}

		&:after {
			top: 22px;
		}

		&:active {
			background-color: var(--border-secondary);
		}

		.open-submenu & {
			span {
				transform: translate3d(0px, 11px, 0) rotate(225deg);
			}

			&:before {
				transform: rotate(0deg) translate3d(0, 0, 0);
				opacity: 0;
			}

			&:after {
				transform: translate3d(-0px, -11px, 0) rotate(-225deg);
			}
		}

		@media (max-width: 1024px) {
			display: inline-block;
		}
	}
	.menu-list {
		ul {
			margin-bottom: 20px;
			>* {
				display: block;
			}
			span {
				padding: 10px 5px;
				font-size: 13px;
				font-weight: 600;
			}
			li {
				a {
					display: flex;
					align-items: center;
					margin-left: -5px;
					margin-right: -5px;
					padding: 10px 10px;
					text-align: left;
					svg {
						margin-right: 5px;
					}
					&.active {
						background-color: var(--border);
					}
				}
			}

			@media screen and (max-width: 1024px) {
				display: none;
				.open-submenu & {
					display: block;
				}
			}
		}
	}
}