@font-face {
	font-family: myFirstFont;
	src: url(./assets/neon/fonts/ChakraPetch-Regular.ttf);
}

:root {
    --bg-primary: linear-gradient(194.32deg, #6655D1 10.17%, #412FAA 89.83%);
    --bg-dark-primary: linear-gradient(360deg, rgb(29, 26, 62) 0%, #312B6D 104.34%);
    --shadow: rgba(45, 36, 146, 0.2);
    --bg-lightprimary: linear-gradient(180deg, #FFFFFF 62.5%, #e0defa 100%);

    --bg-primary-dark: linear-gradient(194.32deg, #6655D1 10.17%, #412FAA 89.83%);
    --shadow-dark: rgba(164, 156, 255, 0.15);
    --border-secondary: #363177;

    --container-width: 1200px;
    --sans-serif:		 	myFirstFont;
	--monospace: 			SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

body {
    font-family: var(--sans-serif);
    font-size: 14px;
}

body, #root, .root {
    background: none !important;
}

.dark-theme {
    --shadow: var(--shadow-dark);
    --bg-lightprimary: var(--bg-body);
}

@mixin bg-primary1 {
    background: linear-gradient(360deg, #1D1A3E 0%, #312B6D 104.34%) !important;
    --border: var(--border-secondary) !important;
}

@mixin panel1 {
    @include bg-primary1();
    color: white !important;
    span {
        color: white !important;
    }
    h4 {
        color: #e1da05;
        font-weight: 400;
        small {
            color: white !important;
            text-transform: initial;
        }
    }
}

@mixin panel-default {
    background: linear-gradient(180deg, #FFFFFF 62.5%, #e0defa 100%) !important;
    box-shadow: 0px 10px 20px 1px var(--shadow) !important;
    border-radius: 3px !important;
}

@mixin primary-btn {
    background: var(--bg-primary) !important;
    color: var(--color-dark);
    border: none;

    &:hover:not(:disabled) {
        color: var(--color-link);

        & * {
            color: var(--color-link);
        }
    }

    &:active:not(:disabled) {
        color: var(--color-active);

        & * {
            color: var(--color-light);
        }
    }
}

@mixin tabpanel1($dft, $atv) {
    @include panel-default();
    .tab-links {
        display: flex;
        align-items: center;
        button {
            flex: 1;
            font-weight: 600 !important;
            color: var(--color) !important;
            box-shadow: none !important;
            border-bottom: 3px solid $dft;
            &.active {
                border-bottom: 3px solid $atv;
            }
        }
    }
    .panel-content {
        >div {
            background: none !important;
            box-shadow: none !important;
        }
    }
}

@mixin table1{
    // .tbl-header {
    //     display: none;
    // }
    // .tbl-footer {
    //     justify-content: center;
    //     gap: 2rem;
    // }
}

.bg {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: -1;
    & >div:nth-child(1) {
        height: 250px;
        background-color: var(--bg-body);
    }
    & >div:nth-child(2) {
        height: 15px;
        background-color: #e1da05;
    }
    & >div:nth-child(3) {
        height: 350px;
        background: #1D1A3E url(./assets/neon/bg1.svg) no-repeat center center;
        background-size: cover;
    }
    & >div:nth-child(4) {
        position: relative;
        flex: 1;
        overflow: hidden;
        >div:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            background: url(./assets/neon/bg2.png) repeat-x left -140%;
            width: 100%;
            height: 300px;
            margin-bottom: -150px;
        }
        >div:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, #7E73FF 0%, rgba(195, 190, 255, 0.81) 120%) no-repeat center center;
            background-size: cover;
        }
        >div:nth-child(3) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(./assets/neon/bg4.svg) no-repeat center -500px;
            background-size: cover;
            opacity: 0.4;
        }
    }
    & >div:nth-child(5) {
        height: 10px;
        background: #CAED3C;
        background-size: cover;
    }
}

section {
    & >h3 {
        color: var(--color-active);
        font-weight: 600;
        text-align: center;
        justify-content: center;
        margin-bottom: 0em;
    }

    & >h4, & >.h4 {
        justify-content: center;
    }

    &:not(.header) a {
        font-size: 1em;
    }
}

header {
    .header {
        min-height: 65px !important;
        &:after {
            height: 1px !important;
            background-color: #e1da05 !important;
        }
        ul.menu {
            >li {
                >a, button {
                    height: 65px !important;
                }
            }
            li {
                a, button {
                    color: var(--color-link) !important;

                    &:hover, &.active {
                        color: var(--color-active) !important;
                    }
                }

                .sub-menu {
                    background: linear-gradient(180deg, #dbd8ff 0%, #FFFFFF 50px, #FFFFFF calc(100% - 50px), #dbd8ff 100%);
                    

                    .common {
                        >div {
                            &:not(:last-of-type) {
                                border-bottom: 1px solid #CAED3C !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.panel {
    @include panel-default();
    .dark-theme & {
        background: var(--bg-body);
    }

    .panel-header:not(.tab-links) {
        border-top: 2px solid #FF8267;
        background-image: var(--bg-dark-primary) !important;
        border-radius: 3px 3px 0 0 !important;
        color: var(--color-light) !important;
    }
    .panel-footer {
        border-radius: 0 0 3px 3px !important;
    }
}

.card {
    border-radius: 3px !important;

    .card-content {
        border-radius: 3px !important;
    }
}

.modal {
    background-color: rgba(29, 26, 62, 0.6) !important;
    .modal-container {
        @include panel-default();
    }
}

.btn {
    border-radius: 3px !important;
    &.btn-primary {
        @include primary-btn;
    }
}

.table {
    .tbl-header {
        >div:first-child {
            color: var(--color) !important;
        }
    }
    .tbl-body {
        table {
            thead {
                background-color: #f7f6fd;
            }
            th {
                color: var(--color-active) !important;
            }
            .nodata {
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(180deg, #FFFFFF 62.5%, #D2CEFF 100%);
                height: 300px;
                color: var(--color-active);
                font-weight: 600;
            }
        }
    }
    .pager {
        gap: 0 !important;
        >button {
            margin: 0 !important;
            border: 0 !important;
            padding: 0.5em 1em;
            &:nth-of-type(odd) {
                border-radius: 5px 0 0 5px !important;
            }
            &:nth-of-type(even) {
                border-radius: 0 5px 5px 0 !important;
            }
            &:disabled {
                background: #7564DE !important;
            }
            &:first-child, &:last-child {
                &:disabled {
                    background: #6654D1 !important;
                }
            }
        }
        code {
            background: none !important;
            border: none;
            box-shadow: none !important;
        }
    }
    .tbl-footer {
        >div {
            span {
                color: var(--color);
            }
        }
    }
}

.tab {
    background: none;
    box-shadow: none !important;
    .tab-links {
        background: none;
        border: none !important;
        text-align: center;
        button {
            font-weight: 400 !important;
            color: var(--color-link);
            border-radius: 0 !important;
            &:after {
                height: 0 !important;
            }
            &.active {
                color: var(--color-active) !important;
                font-weight: 600 !important;
            }
        }
    }
    &.panel {
        background: none;
        padding: 0 !important;
        > * {
            padding: 0 !important;
        }
        .panel-content {
            background: none;
            padding: 0 !important;
            >div {
                @include panel-default();
                padding: 1em;
            }
        }
    }
}

.scroll {
    &::-webkit-scrollbar-track {
        background: #D7D7FF !important;
    }
    &::-webkit-scrollbar-thumb {
        background: #1D1A3F !important;
    }
}

.home {
    .search {
        background-color: transparent !important;
        >div {
            width: 50% !important;
            h1 {
                color: var(--color-active) !important;
            }
            input[type=search] {
                text-align: center;
                border-radius: 5px 5px 5px 5px !important;
                box-shadow: inset 0px 0px 12px rgba(150, 124, 255, 0.6);
            }
            button {
                display: none;
                border-radius: 0 5px 5px 0 !important;
            }
        }
    }
    .card {
        .card-body {
            @include bg-primary1();
            border-top: 2px solid #FF8267;
            color: #e1da05 !important;
            a {
                color: white !important;
                font-weight: 400;
            }
        }
    }
    .container {
        margin-top: -2em !important;
    }
    .panel {
        .panel-footer {
            padding-top: 0;
            padding-bottom: 0;
            background-color: white;
            a {
                background: transparent !important;
                color: var(--color-link);
                font-weight: 600;
                border: none !important;
                box-shadow: none;
            }
        }
    }
}

.form {
    margin-bottom: 0 !important;
}

.grid-col {
    > div {
        > div:first-child {
            color: var(--color-active);
        }
    }
}

.log-form {
    max-width: 960px !important;
    .form {
        @include panel-default();
        padding: 4rem 10rem !important;
        @media (max-width: 960px) {
            padding: 4rem 5rem !important;
        }
        @media (max-width: 767px) {
            padding: 2rem 1rem !important;
        }
        >div:last-child {
            flex-direction: column-reverse !important;
            gap: 1rem;
            a {
                display: block;
                text-align: center;
                // color: #e1da05;
            }
            button {
                width: 50% !important;
                @media (max-width: 500px) {
                    width: 100% !important;
                }
            }
        }
    }
}

.address {
    .section-split {
        .panel {
            @include panel1;
        }
    }

    .panel.tab {
        @include tabpanel1(#f4e8ff, #e1da05);
    }
}

.tx {
    .panel.tab {
        @include tabpanel1(#6070FF, #C080FA);
    }
}

.docs {
    >div {
        @include panel-default;
        padding: 2em;
    }
    * {
        text-transform: none !important;
    }
}

.opcode {
    @include panel-default;
    padding: 2em;
}

.pushtx {
    > section {
        @include panel-default;
        padding: 2em;
    }
}

.nft-assets {
    .card {
        box-shadow: 0px 10px 20px 1px var(--shadow) !important;
        background-color: var(--bg-body);
    }
}

.nft-profile {
    .panel {
        &.tab {
            background: none !important;
        }
        button {
            &:last-child {
                color: var(--color-active);
            }
        }
        .card {
            padding-bottom: 10px !important;
            .card-content {
                @include panel-default();
                box-shadow: 0px 5px 7px 0px var(--shadow) !important;
            }
        }
    }
}

.nft-txassets {
    .table {
        @include table1;
    }

    .top {
        box-shadow: 0px 14px 24px rgba(164, 156, 255, 0.7);
    }
}

.sub-container {
    padding: 4rem 10rem 1rem 10rem !important;
    width: 1200px !important;
    margin: auto !important;
    @include panel-default();
    @media (max-width: 960px) {
        padding: 4rem 5rem 1rem 5rem !important;
    }
    @media (max-width: 767px) {
        padding: 2rem 1rem 1rem 1rem !important;
    }
}

.mymenu {
    .hamburger {
        span, &:before, &:after {
            background-color: white !important;
        }
    }
}

footer {
    background: none !important;
    margin-top: 3em;
    padding-bottom: 3em !important;
    div, p, span {
        color: var(--black) !important;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0 !important;
        >div:first-child {
            margin-bottom: 1em !important;
            >span {
                font-size: 1em !important;
            }
        }
        >div:last-child {
            justify-content: center !important;
            margin-bottom: 0 !important;
            >div {
                button {
                    @include primary-btn();
                    box-shadow: 0px 4px 8px rgba(45, 36, 146, 0.5);
                    gap: 5px;
                }
                button:last-child {
                    display: none;
                }
            }
        }
    }
}